<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cuit9622.dms.notice.mapper.NoticeMapper">
    <select id="page" resultType="cuit9622.dms.notice.vo.NoticeVo">
        select notice_id,
                title,
                content,
                create_time,
                update_time,
                creator,
                (select username from sys_user user where user.user_id = notice.creator) name
            from notice
        <where>
            <if test="title != null and title !='' ">
                title like concat('%',#{title},'%')
            </if>
        </where>
    </select>
</mapper>